
@model IEnumerable<thechauffeurteam.Models.job>
@{
    ViewBag.Title = "Cab Office DashBord";
    Layout = "~/Views/Shared/_CabOfficeLayout.cshtml";



}


<!-- Header -->


@Html.Partial("~/Views/CabOffice/_header.cshtml")

<div class="container-fluid mt--7">

    <!-- Table -->
    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Accepted Jobs</h3>
                </div>
                <div class="table-responsive" style="min-height:400px;max-height:600px; overflow:scroll;">
                    <table class="table align-items-center table-flush mb-md-5">
                        <thead class="" style="background:#1853a1;">
                            <tr class="text-light text-left px-1">
                              
                                <th scope="col" class="text-light px-0 mx-0 text-center">Time</th>
                                <th scope="col" class="text-light px-0 text-center">Pick Up</th>
                                <th scope="col" class="text-light px-0 text-center">Drop Off</th>
                                <th scope="col" class="text-light px-0 text-center">Miles</th>
                                <th scope="col" class="text-light px-0 text-center">Price</th>
                                <th scope="col" class="text-light px-0 text-center">Phone#</th>
                                <th scope="col" class="text-light px-0 text-center">Name</th>
                                <th scope="col" class="text-light px-0 text-center"></th>

                                <th class=" px-0"></th>
                            </tr>

                        </thead>

                        <tbody class="text-blue">


                            @foreach (var item in Model)
                            {


                                <tr class=" px-1 text-left">

                                    <td scope="col" class="py-1 my-0 pr-0 mr-0" style="overflow:hidden;max-width:155px">
                                        @Html.DisplayFor(modelItem => item.dateAndTime)



                                    </td>
                                    <td scope="col" class="py-1 my-0 pr-0 mr-0" style="overflow:hidden;max-width:155px">
                                        @Html.DisplayFor(modelItem => item.pickUp)

                                    </td>
                                    <td scope="col" class="py-1 my-0 pr-0 mr-0" style="overflow:hidden;max-width:155px">
                                        @Html.DisplayFor(modelItem => item.DropUP)
                                    </td>
                                    <td scope="col" class="py-1 my-0 pr-0 mr-0" style="overflow:hidden;max-width:155px">

                                        @Html.DisplayFor(modelItem => item.Mile)
                                    </td>
                                    <td scope="col" class="py-1 my-0 pr-0 mr-0" style="overflow:hidden;max-width:155px">
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>

                                    <td scope="col" class="py-1 my-0 pr-0 mr-0" style="overflow:hidden;max-width:155px">
                                        @Html.DisplayFor(modelItem => item.PassengerPhone)
                                    </td>

                                    <td scope="col" class="py-1 my-0 pr-0 mr-0" style="overflow:hidden;max-width:155px">
                                        @Html.DisplayFor(modelItem => item.PassengerName)
                                      
                                    </td>



                                    <td class="text-right py-1 my-0 px-0">
                                        <div class="dropdown">
                                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                @{
                                                    var id = item.id;
                                                }
                                                <a class="dropdown-item" href="" onclick="jobInfo(@id)" data-toggle="modal" data-target="#jobModal">View</a>
                                                <a class="dropdown-item" href="~/CabOfficestatus/Completed/@item.id">Completed</a>
                                            </div>
                                        </div>
                                    </td>



                                </tr>





                            }



                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    @Html.Partial("~/Views/CabOffice/_cabJobModal.cshtml")




    @Html.Partial("~/Views/Shared/_CabAndAdminFooter.cshtml")

    <!-- Footer -->

</div>



@section scripts{
    <script type="text/javascript">

         
        function jobInfo(Id) {
            //alert("success" + Id)

             $.ajax({
                type: "POST",
                 url: '@Url.Action("JobInfo", "Admin")',
                 data: { id: Id },
                 dataType: "json",

                 success: function (success) {

                   //  alert('pick Up :' + success.jb.pickUp);
                    

                         var txt = $("#jobId").val();
                         $("#jobId").html(txt + success.jb.id);
                         $("#jid").val(success.jb.id);
                         $("#pickUpAddress").val(success.jb.pickUp);
                         $("#dropOffAddress").val(success.jb.DropUP);
                         $("#distance").val(success.jb.Mile);
                         $("#price").val(success.jb.Price);
                         $("#carType").val(success.jb.CarType);

                         var dAndT = "" + success.jb.dateAndTime;
                     
                         $("#time").val(dAndT.substring(0, 10).trim());
                         $("#date").val(dAndT.substring(10).trim());
                         $("#driverMessage").val(success.jb.DriverMessage);
                         $("#drvId").val(success.jb.DriverName);
                       //alert(success.jb.DriverId);
                         $("#name").val(success.jb.PassengerName);
                         $("#phone").val(success.jb.PassengerPhone);
                     
                        // console.log(success);
                 },
                 error: function (e, text, string) {
                    alert(e.message + text + string);
                    console.log(e);
                 }

            });

        };
    </script>
}

