@model thechauffeurteam.Models.API.CabOffice

@{
    ViewBag.Title = "CabOfficeDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Header -->
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
        </div>
    </div>
</div>
<div class="container-fluid mt--7 row">
    <div class="col-md-11">
        <div class="col-md-12 bg-white" style=" text-align :center;font-family:Arial;padding:20px;border-radius:5px 5px 0 0">
            <h3 class="text-primary">Cab Office Registration</h3>
        </div>
        <div class="col-md-12" style="background-color:#E9E9EB;padding-bottom:50px;border-bottom-left-radius:5px;border-bottom-right-radius:5px">
            <br />
            @using (Html.BeginForm("CabOfficeDetail", "CabOffice", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div style="background-color:white;border-top:2px solid #59D1D3;padding-top:15px;border-radius:5px;padding-bottom:10px;width:100%;">
                    <div class="form-group">
                        <div class="col-md-12">
                            <h5>CAB OFFICE DETAIL</h5><br />
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group col-sm-12 col-md-8">
                            <label class="control-label col-md-12" for="owner"><b>Principal Contact for Correspondence/Owner</b></label>
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.CabofficeOwner, new { htmlAttributes = new { @class = "form-control", placeholder = "Correspondence/Owner", required = "required" } })
                                @Html.ValidationMessageFor(model => model.CabofficeOwner, "", new { @class = "text-danger" })
                                @*<input type="email" class="form-control" id="owner" placeholder="Correspondence/Owner">*@
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-4 ">
                            <label class="control-label col-md-12" for="owner"><b>Status</b></label>
                            <div class="col-sm-12">
                                <select class="form-control" id="status" name="status">
                                    @if (Model.Status == "Rejected")
                                    {
                                        <option value="Rejected">Rejected</option>
                                        <option value="Waiting"> Waiting</option>
                                        <option value="Approved">Approved</option>

                                    }


                                    @if (Model.Status == "Approved")
                                    {
                                        <option value="Approved">Approved</option>
                                        <option value="Waiting">Waiting</option>
                                        <option value="Rejected">Rejected</option>
                                    }



                                    else
                                    {
                                        <option value="Waiting">Waiting</option>
                                        <option value="Approved">Approved</option>
                                        <option value="Rejected">Rejected</option>
                                    }

                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label col-sm-12" for="cabName"><b>Cab Office Name</b></label>
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.CabOfficeName, new { htmlAttributes = new { @class = "form-control", placeholder = "Cab Office Name", required = "required" } })
                                @Html.ValidationMessageFor(model => model.CabOfficeName, "", new { @class = "text-danger" })
                                @*<input type="text" class="form-control" id="cabName" placeholder="Cab Office Name">*@
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label col-sm-12" for=" sysName"><b>Dispatch System Name</b></label>
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.DispachSystemName, new { htmlAttributes = new { @class = "form-control", placeholder = "System Name", required = "required" } })
                                @Html.ValidationMessageFor(model => model.DispachSystemName, "", new { @class = "text-danger" })
                                @*<input type="text" class="form-control" id=" sysName" placeholder="System Name">*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label col-sm-12" for="phNo"><b>Phone</b></label>
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.CabOfficePhoneNo, new { htmlAttributes = new { @class = "form-control", placeholder = "Cab Offive Phone", required = "required" } })
                                @Html.ValidationMessageFor(model => model.CabOfficePhoneNo, "", new { @class = "text-danger" })
                                @*<input type="text" class="form-control" id="phNo" placeholder="Phone">*@
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label col-sm-12" for=" fax"><b>Fax</b></label>
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.CabOfficeFax, new { htmlAttributes = new { @class = "form-control", placeholder = "Fax" } })
                                @Html.ValidationMessageFor(model => model.CabOfficeFax, "", new { @class = "text-danger" })
                                @*<input type="text" class="form-control" id="fax" placeholder="Fax">*@
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label col-sm-12" for=" email"><b>Email</b></label>
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.CabOfficeEmail, new { htmlAttributes = new { @class = "form-control", placeholder = "Email", required = "required" } })
                                @Html.ValidationMessageFor(model => model.CabOfficeEmail, "", new { @class = "text-danger" })
                                @*<input type="email" class="form-control" id=" email" placeholder="Email">*@
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-12" for="cabOfficeAddress"><b>Cab Office Address</b></label>
                        <div class="col-sm-12">
                            @Html.EditorFor(model => model.CabOfficeAddress, new { htmlAttributes = new { @class = "form-control", placeholder = "Address", required = "required" } })
                            @Html.ValidationMessageFor(model => model.CabOfficeAddress, "", new { @class = "text-danger" })
                            @*<input type="text" class="form-control" id="cabOfficeAddress" placeholder="Office Address">*@
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label col-sm-12" for="city"><b>City</b></label>
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.CabOfficeCity, new { htmlAttributes = new { @class = "form-control", placeholder = "City", required = "required" } })
                                @Html.ValidationMessageFor(model => model.CabOfficeCity, "", new { @class = "text-danger" })
                                @* <input type="text" class="form-control" id="city" placeholder="City">*@
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label col-sm-12" for="postCode"><b>Post Code</b></label>
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.CabOfficePostCode, new { htmlAttributes = new { @class = "form-control", placeholder = "Post Code", required = "required" } })
                                @Html.ValidationMessageFor(model => model.CabOfficePostCode, "", new { @class = "text-danger" })
                                @*<input type="text" class="form-control" id="postCode" placeholder="Post Code">*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label col-sm-12" for="dbc"><b>Date Business Commenced</b></label>
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.CabOfficeBusinessStartDate, new { htmlAttributes = new { @class = "form-control", placeholder = "dd/mm/yyy", required = "required" } })
                                @Html.ValidationMessageFor(model => model.CabOfficeBusinessStartDate, "", new { @class = "text-danger" })
                                @*<input type="date" class="form-control" id="dbc">*@
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label col-sm-12" for=" licenseNo"><b>License Number</b></label>
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.CabOfficeLicenseNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "License No", required = "required" } })
                                @Html.ValidationMessageFor(model => model.CabOfficeLicenseNumber, "", new { @class = "text-danger" })
                                @*<input type="text" class="form-control" id=" licenseNo" placeholder="License Number">*@
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label col-sm-12" for="businessType"><b>Business Type</b></label>
                            <div class="col-sm-12">
                                <select class="dropdown form-control" id="businessType" name="businessType">
                                    @if (Model.CabOfficeBusiessType == "Sole Proprietorship")
                                    {
                                        <option value="Sole Proprietorship" selected>Sole Proprietorship</option>
                                        <option value="Partnership">Partnership</option>
                                        <option value="Corporation">Corporation</option>
                                        <option value="Others">Others</option>
                                    }
                                    else if (Model.CabOfficeBusiessType == "Partnership")
                                    {
                                        <option value="Sole Proprietorship">Sole Proprietorship</option>
                                        <option value="Partnership" selected>Partnership</option>
                                        <option value="Corporation">Corporation</option>
                                        <option value="Others">Others</option>
                                    }
                                    else if (Model.CabOfficeBusiessType == "Corporation")
                                    {
                                        <option value="Sole Proprietorship">Sole Proprietorship</option>
                                        <option value="Partnership">Partnership</option>
                                        <option value="Corporation" selected>Corporation</option>
                                        <option value="Others">Others</option>
                                    }
                                    else
                                    {
                                        <option value="Sole Proprietorship">Sole Proprietorship</option>
                                        <option value="Partnership">Partnership</option>
                                        <option value="Corporation">Corporation</option>
                                        <option value="Others" selected>Others</option>
                                    }

                                </select>
                            </div>
                        </div>


                    </div><br />
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label col-sm-12" for="AcceptDiractPayment"><b>Do you Accept Direct Cards Payments from Passengers :</b></label>

                        </div>
                        <div class="form-group col-md-2">
                            <label class="control-label col-sm-12"><b></b></label>
                            <div class="col-md-12 form-group ">
                                @Html.EditorFor(model => model.AcceptDiractPayment, new { htmlAttributes = new { @class = "form-control", style = "width:17px;height:17px" } })
                                @Html.ValidationMessageFor(model => model.AcceptDiractPayment, "", new { @class = "text-danger" })

                            </div>




                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label col-sm-12">
                                <b>Would you like Account Jobs with minicabers : </b><br />
                                Note: Account amount is paid after the end of month.
                            </label>

                        </div>
                        <div class="form-group col-md-2">
                            <label class="control-label col-sm-12"><b></b></label>
                            <div class="col-md-12 form-group ">
                                @Html.EditorFor(model => model.LikeAccount, new { htmlAttributes = new { @class = "form-control", style = "width:17px;height:17px" } })
                                @Html.ValidationMessageFor(model => model.LikeAccount, "", new { @class = "text-danger" })

                            </div>
                        </div>

                    </div>

                </div>
                <div style="background-color:white;border-top:2px solid #5A84B7;padding-top:15px;border-radius:5px;padding-bottom:50px;width:100%;margin-top:20px">
                    <div class="form-group">
                        <div class="col-md-12">
                            <h5>FLEET DETAIL</h5><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label class="control-label col-sm-12" for="noOfSaloon"><b>Number of Saloon</b></label>
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.NumberOfSaloon, new { htmlAttributes = new { @class = "form-control", placeholder = "Number of Saloon", required = "required" } })
                                @Html.ValidationMessageFor(model => model.NumberOfSaloon, "", new { @class = "text-danger" })
                                @*<input type="number" class="form-control" id="noOfSaloon" placeholder="Number of Saloon">*@
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label col-sm-12" for="noOfEstate"><b>Number of Estate</b></label>
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.NumberOfEstate, new { htmlAttributes = new { @class = "form-control", placeholder = "Number of Estate", required = "required" } })
                                @Html.ValidationMessageFor(model => model.NumberOfEstate, "", new { @class = "text-danger" })
                                @*<input type="number" class="form-control" id="noOfEstate" placeholder="Number of Estate">*@
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label col-sm-12" for="noOfMPV"><b>Number of MPV (6 person)</b></label>
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.NumberOfMPV, new { htmlAttributes = new { @class = "form-control", placeholder = "Number of MPV", required = "required" } })
                                @Html.ValidationMessageFor(model => model.NumberOfMPV, "", new { @class = "text-danger" })
                                @*<input type="number" class="form-control" id="noOfMPV" placeholder="Number of MPV">*@
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label col-sm-12" for="noOfOtherVehicles"><b>Number of other Vehicles</b></label>
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.NumberOfOtherVehicle, new { htmlAttributes = new { @class = "form-control", placeholder = "Other", required = "required" } })
                                @Html.ValidationMessageFor(model => model.NumberOfOtherVehicle, "", new { @class = "text-danger" })
                                @*<input type="number" class="form-control" id="noOfOtherVehicles" placeholder="Other">*@
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background-color:white;border-top:2px solid black;padding-top:15px;border-radius:5px;padding-bottom:50px;width:100%;margin-top:20px">
                    <div class="form-group">
                        <div class="col-md-12">
                            <h5>INVOICE DETAIL</h5><br />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-12" for="invoiceAddress"><b>Address</b></label>
                        <div class="col-sm-12">
                            @Html.EditorFor(model => model.InvAddress, new { htmlAttributes = new { @class = "form-control", placeholder = "Address", required = "required" } })
                            @Html.ValidationMessageFor(model => model.InvAddress, "", new { @class = "text-danger" })
                            @*<input type="text" class="form-control" id="invoiceAddress" placeholder="Address">*@
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label col-sm-12" for="invoiceCity"><b>City</b></label>
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.InvCity, new { htmlAttributes = new { @class = "form-control", placeholder = "City", required = "required" } })
                                @Html.ValidationMessageFor(model => model.InvCity, "", new { @class = "text-danger" })
                                @*<input type="text" class="form-control" id="invoiceCity" placeholder="City">*@
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label col-sm-12" for="invoicePostCode"><b>Post Code</b></label>
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.InvPostCode, new { htmlAttributes = new { @class = "form-control", placeholder = "Post Code", required = "required" } })
                                @Html.ValidationMessageFor(model => model.InvPostCode, "", new { @class = "text-danger" })
                                @*<input type="text" class="form-control" id="invoicePostCode" placeholder="Post Code">*@
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-12" for="invoiceContact"><b>Principal Contact for Correspondence</b></label>
                        <div class="col-sm-12">
                            @Html.EditorFor(model => model.InvPrincipalContact, new { htmlAttributes = new { @class = "form-control", placeholder = "Contact for Correspondence", required = "required" } })
                            @Html.ValidationMessageFor(model => model.InvPrincipalContact, "", new { @class = "text-danger" })
                            @*<input type="text" class="form-control" id="invoiceContact" placeholder="Contact for Correspondence">*@
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label col-sm-12" for="invoicePhNo"><b>Phone</b></label>
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.InvPhone, new { htmlAttributes = new { @class = "form-control", placeholder = "Phone", required = "required" } })
                                @Html.ValidationMessageFor(model => model.InvPhone, "", new { @class = "text-danger" })
                                @*<input type="text" class="form-control" id="invoicePhNo" placeholder="Phone">*@
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label col-sm-12" for="invoiceFax"><b>Fax</b></label>
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.InvFax, new { htmlAttributes = new { @class = "form-control", placeholder = "Fax" } })
                                @Html.ValidationMessageFor(model => model.InvFax, "", new { @class = "text-danger" })
                                @*<input type="text" class="form-control" id="invoiceFax" placeholder="Fax">*@
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label col-sm-12" for="invoiceEmail"><b>Email</b></label>
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.InvEmail, new { htmlAttributes = new { @class = "form-control", placeholder = "Email", required = "required" } })
                                @Html.ValidationMessageFor(model => model.InvEmail, "", new { @class = "text-danger" })
                                @*<input type="email" class="form-control" id="invoiceEmail" placeholder="Email">*@
                            </div>
                        </div>
                    </div>


                </div>
                <div style="background-color:white;border-top:2px solid red;padding-top:15px;border-radius:5px;padding-bottom:50px;width:100%;margin-top:20px">
                    <div class="form-group">
                        <div class="col-md-12">
                            <h5>AUTHORISED CONTROLLERS/USERS FOR LOGINS</h5><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label col-sm-12" for="userfName"><b>First Name</b></label>
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.UserFirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name", required = "required" } })
                                @Html.ValidationMessageFor(model => model.UserLastName, "", new { @class = "text-danger" })
                                @*<input type="text" class="form-control" id="userEmail" placeholder="First Name">*@
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label col-sm-12" for="userlName"><b>Last Name</b></label>
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.UserLastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name", required = "required" } })
                                @Html.ValidationMessageFor(model => model.UserLastName, "", new { @class = "text-danger" })
                                @*<input type="text" class="form-control" id="userlName" placeholder="Last Name">*@
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label col-sm-12" for="mobile"><b>Mobile</b></label>
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.UserMobile, new { htmlAttributes = new { @class = "form-control", placeholder = "Mobile", required = "required" } })
                                @Html.ValidationMessageFor(model => model.UserMobile, "", new { @class = "text-danger" })
                                @*<input type="text" class="form-control" id="mobile" placeholder="Mobile">*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label col-sm-12" for="userEmail"><b>Email</b></label>
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.UserEmail, new { htmlAttributes = new { @class = "form-control", placeholder = "Email", required = "required" } })
                                @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
                                @*<input type="email" class="form-control" id="userEmail" placeholder="Email">*@
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label col-sm-12" for="userPassword"><b>Password</b></label>
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", required = "required" } })
                                @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
                                @*<input type="password" class="form-control" id="userPassword" placeholder="password">*@
                            </div>
                        </div>
                        @*<div class="form-group col-md-4">
                                <label class="control-label col-sm-12" for="userConfPassword"><b>Confirm Password</b></label>
                                <div class="col-sm-12">
                                    @Html.EditorFor(model => model.confirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.confirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>*@
                    </div>

                </div>
                <div style="background-color:white;border-top:2px solid #59D1D3;padding-top:15px;border-radius:5px;padding-bottom:50px;width:100%;margin-top:20px">
                    <div class="form-group">
                        <div class="col-md-12">
                            <h5>BUSINESS/TRADE REFERENCE</h5><br />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-12" for="companyName"><b>Company/Business Name</b></label>
                        <div class="col-sm-12">
                            @Html.EditorFor(model => model.RefBusinessName, new { htmlAttributes = new { @class = "form-control", placeholder = "Company Name", required = "required" } })
                            @Html.ValidationMessageFor(model => model.RefBusinessName, "", new { @class = "text-danger" })
                            @*<input type="text" class="form-control" id="companyName" placeholder="Company Name">*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-12" for="companyAddress"><b>Address</b></label>
                        <div class="col-sm-12">
                            @Html.EditorFor(model => model.RefBusinessAddress, new { htmlAttributes = new { @class = "form-control", placeholder = "Address", required = "required" } })
                            @Html.ValidationMessageFor(model => model.RefBusinessAddress, "", new { @class = "text-danger" })
                            @*<input type="text" class="form-control" id="companyAddress" placeholder="Address">*@
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label col-sm-12" for="companyCity"><b>City</b></label>
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.RefBusinessCity, new { htmlAttributes = new { @class = "form-control", placeholder = "City", required = "required" } })
                                @Html.ValidationMessageFor(model => model.RefBusinessCity, "", new { @class = "text-danger" })
                                @*<input type="text" class="form-control" id="companyCity" placeholder="City">*@
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label col-sm-12" for="companyPostCode"><b>Post Code</b></label>
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.RefBusinessPostCode, new { htmlAttributes = new { @class = "form-control", placeholder = "Area Post Code", required = "required" } })
                                @Html.ValidationMessageFor(model => model.RefBusinessPostCode, "", new { @class = "text-danger" })
                                @*<input type="text" class="form-control" id="companyPostCode" placeholder="Area Post Code">*@
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label col-sm-12" for="companyPhone"><b>Phone</b></label>
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.RefBusinessPhone, new { htmlAttributes = new { @class = "form-control", placeholder = "Phone", required = "required" } })
                                @Html.ValidationMessageFor(model => model.RefBusinessPhone, "", new { @class = "text-danger" })
                                @*<input type="text" class="form-control" id="companyPhone" placeholder="Phone">*@
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label col-sm-12" for="companyFax"><b>Fax</b></label>
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.RefBusinessFax, new { htmlAttributes = new { @class = "form-control", placeholder = "Fax" } })
                                @Html.ValidationMessageFor(model => model.RefBusinessFax, "", new { @class = "text-danger" })
                                @*<input type="text" class="form-control" id="companyFax" placeholder="Fax">*@
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label col-sm-12" for="companyEmail"><b>Email</b></label>
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.RefBusinessEmail, new { htmlAttributes = new { @class = "form-control", placeholder = "Email", required = "required" } })
                                @Html.ValidationMessageFor(model => model.RefBusinessEmail, "", new { @class = "text-danger" })
                                @*<input type="email" class="form-control" id="companyEmail" placeholder="Email">*@
                            </div>
                        </div>
                    </div>


                </div>
                @*<div style="background-color:white;border-top:2px solid  #5A84B7;padding-top:15px;border-radius:5px;padding-bottom:50px;width:100%;margin-top:20px">
                        <div class="form-group">
                            <div class="col-md-12">
                                <h5>SERVICES</h5><br />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12 form-group ">

                                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="cabJobs">
                                    <label class="custom-control-label" for="cabJobs"><b>Cab Jobs</b></label>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">

                                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="cabAdmin">
                                    <label class="custom-control-label" for="cabAdmin"><b> Cabadmin</b> (Booking and Dispatch Solution)</label>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div style="background-color:white;padding-top:15px;border-radius:5px;padding-bottom:50px;width:100%;margin-top:20px">
                        <div class="form-group">
                            <div class="col-md-12">
                                <h5>TERMS AND CONDITION</h5><br />
                            </div>
                        </div>

                        <div class=" col-md-12">
                            <div class="form-group col-md-12">
                                <ol type="seq" class="col-md-12">
                                    <li>Cab Office will be fully responsible for serving a Job once it has been booked or assigned on website in result of settings, failures or delays in job will result into termination of relationship between minicabers and partner Cab Office.</li>
                                    <li>Cab Office will ensure accurate settings (waiting times, freezing and rates) on website all the times for smooth Job handling. Same minicabers fee will be applicable in case of failures and delays in assigned jobs.</li>
                                    <li><b>10% fee of total job amount</b> will be charged by minicabers in every job booked or assigned (Cash and Account) to cab office on monthly basis and will be payable within 7 days of Invoice</li>
                                    <li>itLogi Solutions LTD is trading as minicabers is not a licensed private hire operator. minicabers services are acting as a Booking Agent.</li>
                                    <li>All Standard Contracts and Payment terms are included as per UK law.</li>
                                </ol>


                            </div>
                            <hr />
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                        <input type="checkbox" class="custom-control-input" id="conditionAgreeCheckbox">
                                        <label class="custom-control-label" for="conditionAgreeCheckbox"><b>I agree </b>to be bound by the terms and conditions</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                        <input type="checkbox" class="custom-control-input" id="appAgreeCheckbox">
                                        <label class="custom-control-label" for="appAgreeCheckbox"><b>I agree </b> that this application form may be used as part of a credit check undertaken by minicabers and/or their nominated agents.</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>*@

                <div class="row justify-content-center" style="justify-content:center;align-items:center; margin-top:50px">
                    <button type="submit" class="btn btn-primary col-md-5 justify-content-center font-weight-bold">Save</button>
                </div>
            }
        </div>
    </div>



    @Html.Partial("~/Views/Shared/_CabAndAdminFooter.cshtml")
</div>
