
@model thechauffeurteam.Models.ViewModel.CabOfficeVM
@{
    ViewBag.Title = "Cab Office  Profile";
    Layout = "~/Views/Shared/_CabOfficeLayout.cshtml";
}

<style>



    .bgred {
        background-color: rgb(226, 74, 35);
        color: #fff;
    }

    .bgblue {
        background: #1853a1;
        color: #fff;
    }
</style>


<!-- Header -->
<div class="header pb-5 pt-5 pt-5 d-flex align-items-center" style="min-height: 250px; background-image: url(~/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask  opacity-8 bgblue"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-white">Hello @Html.DisplayTextFor(x => x.CabOfficeName) !</h3>


                @*<a href="#!" class="btn btn-info">Edit profile</a>*@
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--9">
    <div class="row ">
        <div class="col-md-12">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0" style="color:#1853a1;">My Cab Office Account Detail</h3>
                        </div>
                        <div class="col-4 text-right">
                            @*<a href="~/CabOffice/driverprofile/@Model.Id" class="btn btn-sm btn-info">View</a>*@

                            <a href="~/CabOffice/Edit_Profile_information/@Model.Id" class="btn btn-sm bgblue">Edit</a>
                            @*  <button class="btn btn-sm btn-warning " disabled id="btnSave" onclick="saveProfile()">Save</button>*@
                        </div>
                    </div>
                </div>
                <div class="card-body">




                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-justified" role="tablist" style="margin:20px; ">
                        <li class="nav-item">
                            <a class="nav-link active nd" data-toggle="tab" href="#caboffice">Cab Office</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nv" data-toggle="tab" href="#vehicle">Fleet </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link niInv" data-toggle="tab" href="#invoice">Invoice </a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link nRefence" data-toggle="tab" href="#reference">Business Reference </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nl" data-toggle="tab" href="#login">Login </a>
                        </li>
                    </ul>


                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="caboffice" class="container tab-pane active">

                            <div style="background-color:white;border-top:2px solid #59D1D3;padding-top:15px;border-radius:5px;padding-bottom:10px;width:100%;">

                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="text-center text-white bgblue p-md-3">Cab Office Detail</h3>
                                        <table class="table table-hover table-primary table-sm table-bordered">

                                            <tbody>

                                                <tr>
                                                    <th>Principal Contact for Correspondence/Owner :</th>
                                                    <td>@Html.DisplayTextFor(m => m.CabofficeOwner)</td>
                                                </tr>



                                                <tr>
                                                    <th>Cab Office Name :</th>
                                                    <td>@Html.DisplayTextFor(m => m.CabOfficeName)</td>
                                                </tr>



                                                <tr>
                                                    <th>Cab Office Dispatch System Name :</th>
                                                    <td>@Html.DisplayTextFor(m => m.DispachSystemName)</td>

                                                </tr>


                                                <tr>
                                                    <th>Cab Office Phone :</th>
                                                    <td>@Html.DisplayTextFor(m => m.CabOfficePhoneNo)</td>
                                                </tr>


                                                <tr>
                                                    <th>Cab Office Fax :</th>
                                                    <td>@Html.DisplayTextFor(m => m.CabOfficeFax)</td>
                                                </tr>


                                                <tr>
                                                    <th> Cab office Email :</th>
                                                    <td>@Html.DisplayTextFor(m => m.CabOfficeEmail)</td>
                                                </tr>

                                                <tr>
                                                    <th>Cab Office address :</th>
                                                    <td>@Html.DisplayTextFor(m => m.CabOfficeAddress)</td>
                                                </tr>



                                                <tr>
                                                    <th>Cab Office Post Code :</th>
                                                    <td>@Html.DisplayTextFor(m => m.CabOfficePostCode)</td>
                                                </tr>


                                                <tr>
                                                    <th>Date Business Commenced :</th>
                                                    <td>@Html.DisplayTextFor(m => m.CabOfficeBusinessStartDate)</td>
                                                </tr>


                                                <tr>
                                                    <th>License Number :</th>
                                                    <td>@Html.DisplayTextFor(m => m.CabOfficeLicenseNumber)</td>
                                                </tr>

                                                <tr>
                                                    <th> Direct Cards Payments from Passengers :</th>



                                                    @if (Model.AcceptDiractPayment == true)
                                                    {

                                                        <td>Yes</td>
                                                    }
                                                    else
                                                    {


                                                        <td>No</td>


                                                    }
                                                </tr>



                                                <tr>
                                                    <th>  Account Jobs with minicabers :</th>
                                                    @if (Model.AcceptDiractPayment == true)
                                                    {

                                                        <td>Yes</td>
                                                    }
                                                    else
                                                    {


                                                        <td>No</td>


                                                    }
                                                </tr>





                                            </tbody>
                                        </table>


                                    </div>

                                </div>


                            </div>

                            <!-- Nav tabs -->
                            @*<ul class="nav nav-tabs nav-justified" role="tablist" style="margin:20px">
                                    <li class="nav-item">
                                        <a class="nav-link nextbtn" data-toggle="tab" href="#vehicle">Next</a>
                                    </li>
                                </ul>*@
                        </div>  <!--//cab office tab pane -->


                        <div id="vehicle" class="container tab-pane fade">

                            <div style="background-color:white;border-top:2px solid #59D1D3;padding-top:15px;border-radius:5px;padding-bottom:10px;width:100%;">

                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="text-center  text-white bgblue p-md-3">Vehicle Detail</h3>
                                        <table class="table table-hover table-primary table-sm table-bordered">

                                            <tbody>

                                                <tr>
                                                    <th>Number Of Saloon:</th>
                                                    <td>@Html.DisplayTextFor(m => m.NumberOfSaloon)</td>
                                                </tr>



                                                <tr>
                                                    <th>Number of Estate :</th>
                                                    <td>@Html.DisplayTextFor(m => m.NumberOfEstate)</td>
                                                </tr>



                                                <tr>
                                                    <th>Number of MPV :</th>
                                                    <td>@Html.DisplayTextFor(m => m.NumberOfMPV)</td>
                                                </tr>

                                                <tr>
                                                    <th>Number of Others :</th>
                                                    <td>@Html.DisplayTextFor(m => m.NumberOfOtherVehicle)</td>
                                                </tr>











                                            </tbody>
                                        </table>


                                    </div>

                                </div>
                            </div>


                            @*<ul class="nav nav-tabs nav-justified" role="tablist" style="margin:20px">
                                    <li class="nav-item">
                                        <a class="nav-link nextbtn2" data-toggle="tab" href="#invoice">Next</a>
                                    </li>
                                </ul>*@
                        </div><!--//vehicls tab pane -->


                        <div id="invoice" class="container tab-pane fade">



                            <div style="background-color:white;border-top:2px solid #59D1D3;padding-top:15px;border-radius:5px;padding-bottom:10px;width:100%;">

                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="text-center  text-white bgblue p-md-3">Invoice Detail</h3>
                                        <table class="table table-hover table-primary table-sm table-bordered">

                                            <tbody>

                                                <tr>
                                                    <th>Address:</th>
                                                    <td>@Html.DisplayTextFor(m => m.InvAddress)</td>
                                                </tr>
                                                <tr>
                                                    <th>City:</th>
                                                    <td>@Html.DisplayTextFor(m => m.InvCity)</td>
                                                </tr>

                                                <tr>
                                                    <th>Post Code:</th>
                                                    <td>@Html.DisplayTextFor(m => m.InvPostCode)</td>
                                                </tr>
                                                <tr>
                                                    <th>Principal Contact for Correspondence:</th>
                                                    <td>@Html.DisplayTextFor(m => m.InvPrincipalContact)</td>
                                                </tr>



                                                <tr>
                                                    <th>Phone:</th>
                                                    <td>@Html.DisplayTextFor(m => m.InvPhone)</td>
                                                </tr>
                                                <tr>
                                                    <th>Fax:</th>
                                                    <td>@Html.DisplayTextFor(m => m.InvFax)</td>
                                                </tr>

                                                <tr>
                                                    <th>Email:</th>
                                                    <td>@Html.DisplayTextFor(m => m.InvEmail)</td>
                                                </tr>

                                            </tbody>
                                        </table>


                                    </div>

                                </div>


                                @*<ul class="nav nav-tabs nav-justified" role="tablist" style="margin:20px">
                                        <li class="nav-item">
                                            <a class="nav-link nextbtn2" data-toggle="tab" href="#reference">Next</a>
                                        </li>
                                    </ul>*@

                            </div>



                        </div> <!--//Invoice tab pane -->

                        <div id="reference" class="container tab-pane fade">



                            <div style="background-color:white;border-top:2px solid #59D1D3;padding-top:15px;border-radius:5px;padding-bottom:10px;width:100%;">

                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="text-center  text-white bgblue p-md-3">Business Refrence/Trade Detail </h3>
                                        <table class="table table-hover table-primary table-sm table-bordered">

                                            <tbody>

                                                <tr>
                                                    <th>Company/Business Name:</th>
                                                    <td>@Html.DisplayTextFor(m => m.RefBusinessName)</td>
                                                </tr>
                                                <tr>
                                                    <th>Address :</th>
                                                    <td>@Html.DisplayTextFor(m => m.RefBusinessAddress)</td>
                                                </tr>


                                                <tr>
                                                    <th>City:</th>
                                                    <td>@Html.DisplayTextFor(m => m.RefBusinessCity)</td>
                                                </tr>
                                                <tr>
                                                    <th>Post Code :</th>
                                                    <td>@Html.DisplayTextFor(m => m.RefBusinessPostCode)</td>
                                                </tr>

                                                <tr>
                                                    <th>Address :</th>
                                                    <td>@Html.DisplayTextFor(m => m.RefBusinessAddress)</td>
                                                </tr>



                                                <tr>
                                                    <th>Phone:</th>
                                                    <td>@Html.DisplayTextFor(m => m.RefBusinessPhone)</td>
                                                </tr>
                                                <tr>
                                                    <th>Fax :</th>
                                                    <td>@Html.DisplayTextFor(m => m.RefBusinessFax)</td>
                                                </tr>


                                                <tr>
                                                    <th>Eamil:</th>
                                                    <td>@Html.DisplayTextFor(m => m.RefBusinessEmail)</td>
                                                </tr>
                                                <tr>
                                            </tbody>
                                        </table>


                                    </div>

                                </div>


                            </div>


                            @*<ul class="nav nav-tabs nav-justified" role="tablist" style="margin:20px">
                                    <li class="nav-item">
                                        <a class="nav-link nextbtn2" data-toggle="tab" href="#login">Next</a>
                                    </li>
                                </ul>*@
                        </div> <!--//Refrence tab pane -->



                        <div id="login" class="container tab-pane fade">

                            <div style="background-color:white;border-top:2px solid #59D1D3;padding-top:15px;border-radius:5px;padding-bottom:10px;width:100%;">

                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="text-center  text-white bgblue p-md-3">User Login Detail</h3>
                                        <table class="table table-hover table-primary table-sm table-bordered">

                                            <tbody>
                                                <tr>
                                                    <th>Full Name:</th>
                                                    <td> @Html.DisplayTextFor(m => m.UserFirstName) @Html.DisplayTextFor(m => m.UserLastName)</td>
                                                </tr>

                                                <tr>
                                                    <th>Email:</th>
                                                    <td>@Html.DisplayTextFor(m => m.UserEmail)</td>
                                                </tr>
                                                <tr>
                                                    <th>Password :</th>
                                                    <td>@Html.DisplayTextFor(m => m.UserPassword)</td>
                                                </tr>


                                                <tr>
                                                    <th>Mobile:</th>
                                                    <td>@Html.DisplayTextFor(m => m.UserMobile)</td>
                                                </tr>

                                            </tbody>
                                        </table>


                                    </div>

                                </div>


                            </div>

                          

                        </div> <!--//login tab pane -->
                    </div>

                </div>


            </div>  <!--end of car body -->
        </div> <!--end of bg-scecondary-->
    </div>

<!-- Footer -->
@Html.Partial("~/Views/Shared/_CabAndAdminFooter.cshtml")
</div> <!--end of the cotainer-->




@section scripts{
    <script type="text/javascript">

        $("#btnEdit").click(function () {
            $("#btnEdit").addClass("disabled")
            $("#btnSave").removeAttr("disabled")
            $(".changefield").removeAttr("readonly");

        });
        function saveProfile() {
            if ($("#Password").val().localeCompare($("#ConformPassword").val())) {
                alert("Password does not match!");
            }
            else {
                $.post("@Url.Action("EditProfile", "Drivers")",
                    {
                        fName: $("#UserFirstName").val(),
                        lName: $("#UserLastName").val(),
                        phNo: $("#UserPhNo").val(),
                        password: $("#Password").val(),
                        confPassword: $("#ConformPassword").val(),
                        Id: $("#Id").val()

                    },
                    function (data) {
                        if (data == 0) {
                            //alert("Sorry! \n Profile can't update.");
                        }
                        else if (data == 1) {
                            $(".changefield").addClass("disabled");
                            $("#btnSave").addClass("disabled");
                            //alert("Profile successfuly updated.");


                        }

                    }
                );
            }
        }



    </script>

    <script type="text/javascript">


                //$(document).ready(function () {
                //    $('.nextbtn').click(function () {
                //        $('.nv').addClass('active');
                //        $('.nd').removeClass('active');
                //        $('.nl').removeClass('active');

                //        $('#driver').hide();
                //        $('#login').hide();
                //        $('#vehicle').show();


                //    });


                //    $('.nextbtn2').click(function () {
                //        $('.nl').addClass('active');
                //        $('.nv').removeClass('active');
                //        $('.nd').removeClass('active');

                //        $('#driver').hide();
                //        $('#vehicle').hide();
                //        $('#login').show();

                //    });



                //    $('.nd').click(function () {

                //        $('.nextbtn').removeClass('active');
                //        $('#vehicle').hide();
                //        $('#login').hide();
                //        $('#driver').show();

                //    });


                //    $('.nv').click(function () {

                //        $('.nextbtn2').removeClass('active');

                //        $('#driver').hide();
                //        $('#login').hide();
                //        $('#vehicle').show();



                //    });

                //    $('.nv').click(function () {

                //        $('#login').hide();
                //        $('#driver').hide();
                //        $('#vehicle').show();

                //    });

                //    $('.nl').click(function () {

                //        $('#driver').hide();

                //        $('#vehicle').hide();
                //        $('#login').show();
                //    });

                //});
    </script>
}
