@model IEnumerable<thechauffeurteam.Models.API.CoverageAndWaiting>
@{
    ViewBag.Title = "Cab Office  Profile";
    Layout = "~/Views/Shared/_CabOfficeLayout.cshtml";


    int cabid = (int)@Session["cabOfficeId"];

}

<head>
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />

    <link href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/responsive.bootstrap.min.css" rel="stylesheet" />


    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
</head>

<style>



    .bgred {
        background-color: rgb(226, 74, 35);
        color: #fff;
    }

    .bgblue {
        background: #1853a1;
        color: #fff;
    }
</style>


<!-- Header -->
<div class="header pb-5 pt-5 pt-5 d-flex align-items-center" style="min-height:  250px; background-image: url(~/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bgblue opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class="col-md-12">
                @*<h3 class="text-white">Hello @Html.DisplayTextFor(x => x.CabOfficeName) !</h3>*@


                @*<a href="#!" class="btn btn-info">Edit profile</a>*@
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--9">

    <div class="justify-content-center align-items-center" style="justify-content:center">

        <div class="col-md-12">
            <div class="card ">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0 text-uppercase">Coverage and Waiting Time</h3>
                        </div>

                        <div class="col-4 text-right">
                            <button class="btn bgblue" data-toggle="modal" data-target="#exampleModal">
                                Add
                            </button>
                        </div>



                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-12">

            <div class="col-md-12" style="background-color:#E9E9EB;padding-bottom:50px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;">
                <br />
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div>
                        <div class="form-group">
                            <div class="col-md-12">

                                <table id="dataTable" class="display table table-sm">
                                    @*<table class="table table-sm  table-hover table-bordered text-center display" id="dataTable">*@
                                    <thead class="text-white font-weight-bold bgblue  text-capitalize ">
                                        <tr>

                                            <th scope="col">Coverage</th>
                                            <th scope="col">Waiting Time</th>
                                            <th>Changes</th>

                                        </tr>

                                    </thead>


                                    <tbody class="bg-white">

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.postCode)</td>
                                                <td>@Html.DisplayFor(modelItem => item.waiting)</td>
                                                <td>
                                                    <label class="btn btn-sm btn-outline-danger mr-5 delete" id="@item.id"> Delete</label>
                                                    <label class="btn btn-sm btn-outline-primary edit" id="@item.id">
                                                        <span style="display:none;" class="sp1" id="@item.postCode"></span>
                                                        <span style="display:none;" class="sp2" id="@item.waiting"></span>

                                                        Edit
                                                    </label>
                                                </td>

                                            </tr>
                                        }
                                    </tbody>



                                </table>


                            </div>
                        </div>




                    </div>





                }
            </div>
        </div>

    </div>



    <!--add modal-->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-blue">
                <div class="modal-header bg-blue  text-center">
                    <h3 class="modal-title text-white text-uppercase" id="exampleModalLabel">Add Coverage & Waiting Time</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Coverage</label>
                        <input type="text" class="form-control" name="coverage" id="coverage" placeholder="Enter the Coverage post code" />
                    </div>
                    <div class="form-group">
                        <label>Waiting Time</label>
                        <input type="text" class="form-control" name="waitingTime" id="waitingTime" placeholder="Enter the waiting Time" />
                    </div>




                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnaSave">Add</button>
                </div>
            </div>
        </div>
    </div>
    <!--//add modal-->
    <!--Edit modal-->

    <div class="modal fade" id="exampleModalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-blue">
                <div class="modal-header bg-blue  text-center">
                    <h3 class="modal-title text-white text-uppercase" id="exampleModalLabel">Edit Coverage & Waiting Time</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Coverage</label>
                        <input type="text" class="form-control" name="coverageEdit" id="coverageEdit" placeholder="Enter the Coverage post code" />
                    </div>
                    <div class="form-group">
                        <label>Waiting Time</label>
                        <input type="text" class="form-control" name="waitingTimeEdit" id="waitingTimeEdit" placeholder="Enter the waiting Time" />
                    </div>




                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="update">Update</button>
                </div>
            </div>
        </div>
    </div>
    <!--//Edit modal-->
    <!-- Footer -->
    @Html.Partial("~/Views/Shared/_CabAndAdminFooter.cshtml")

</div> <!--end of the cotainer-->




@section scripts{

    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap4.min.js"></script>


    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>


    <script type="text/javascript">

        $(document).ready(function () {



            $("#dataTable").DataTable({

            });

        });

    </script>


    <script type="text/javascript">

        $(document).ready(function () {
            var CWId_E;
            var id_E;
              var cabid =@cabid;

            $(".edit").click(function () {

                CWId_E = $(this).attr("id");
                id_E = parseInt(CWId_E)



                var postcode = $(this).find(".sp1").attr("id");
                var waitingInt = $(this).find(".sp2").attr("id");
                var waitingTime = parseInt(waitingInt);



                $('#coverageEdit').val(postcode);
                $('#waitingTimeEdit').val(waitingTime);


                $('#exampleModalEdit').modal('toggle');




            });

            $("#update").click(function () {

                console.log(id_E);

                    console.log($('#coverageEdit').val());
                    var waiting = $('#waitingTimeEdit').val();

                    console.log(waiting);
                    console.log(cabid);
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("EditCW", "CabOffice")',
                        dataType: "json",
                        data: {
                            id: id_E,
                            postcode: $('#coverageEdit').val(),
                            waitingTime: waiting,
                            cabid: cabid
                        },

                        success: function () {

                            console.log("edit row succesully")
                                $('#exampleModalEdit').modal('toggle');

                                window.location.reload(true);

                        },

                        error: function () {

                            console.log("data is not deleted something is wrong !")
                        },

                    });
                });//  end udate



            $(".delete").click(function () {

                var CWId = $(this).attr("id");
                var id = parseInt(CWId)
                console.log("checking id");
                console.log(CWId);

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "CabOffice")',
                    dataType: "json",
                    data: { id: id },

                    success: function () {


                            window.location.reload(true);

                    },

                       error: function () {

                            console.log("data is not deleted something is wrong !")
                        },

                });

            });




              //function will be called on button click having id btnsave
            $("#btnaSave").click(function () {

                $('#exampleModal').modal('toggle');

                $.ajax({
                        type: "POST", //HTTP POST Method

                        url: '@Url.Action("AddCoverageAndTime", "CabOffice")',
                        dataType: "json",
                        data: {
                            coverage: $("#coverage").val(),
                            Wating: $("#waitingTime").val(),
                            cabId: cabid
                        },
                    success: function () {

                        window.location.reload(true);
                       },
                       error: function () {

                            console.log("data is not added something is wrong !")
                        },

               });

            });
        });

    </script>

}
