@model IEnumerable<thechauffeurteam.Models.job>
@{
    ViewBag.Title = "Cab Office DashBord";
    Layout = "~/Views/Shared/_CabOfficeLayout.cshtml";

    
}


<!-- Header -->

@Html.Partial("~/Views/CabOffice/_header.cshtml")



<div class="container-fluid mt--7">

    <!-- Table -->
    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">New Jobs</h3>
                </div>
                <div class="table-responsive" style="min-height:400px;max-height:700px; overflow:scroll;">
                    <table class="table align-items-center table-flush">
                        <thead class="" style="background:#1853a1;">
                            <tr class="text-light px-1">
                                @*<th scope="col" class="text-light px-1 ml-0 px-0 text-center">Status</th>*@
                                <th scope="col" class="text-light px-0 mx-0 text-center">Time</th>
                                <th scope="col" class="text-light px-0 text-center">Pick Up</th>
                                <th scope="col" class="text-light px-0 text-center">Drop Off</th>
                                <th scope="col" class="text-light px-0 text-center">Miles</th>
                                <th scope="col" class="text-light px-0 text-center">Price</th>
                                <th scope="col" class="text-light px-0 text-center">Phone</th>
                                <th scope="col" class="text-light px-0 text-center">Name</th>
                                <th scope="col" class="text-light px-0 text-center">Status</th>

                                <th class=" px-0"></th>
                            </tr>

                        </thead>

                        <tbody class="bg-white" style="font-size:14px;">
                            @foreach (var matchjobs in ViewBag.matchedjob)
                            {
                                string matchjb = (string)matchjobs;
                                @*<tr>
                                        <td>@matchjobs</td>

                                    </tr>*@



                                foreach (var item in Model)
                                {
                                    if (matchjb == item.postcode)
                                    {

                                        <tr class=" px-1">

                                            <td scope="col" class="py-1 my-0 pr-0 mr-0" style="overflow:hidden;max-width:155px">
                                                @Html.DisplayFor(modelItem => item.dateAndTime)
                                            </td>
                                            <td scope="col" class="py-1 my-0 pr-0 mr-0" style="overflow:hidden;max-width:155px">
                                                @Html.DisplayFor(modelItem => item.pickUp)
                                            </td>
                                            <td scope="col" class="py-1 my-0 pr-0 mr-0" style="overflow:hidden;max-width:155px">
                                                @Html.DisplayFor(modelItem => item.DropUP)
                                            </td>
                                            <td scope="col" class="py-1 my-0 pr-0 mr-0" style="overflow:hidden;max-width:155px">

                                                @Html.DisplayFor(modelItem => item.Mile)
                                            </td>
                                            <td scope="col" class="py-1 my-0 pr-0 mr-0" style="overflow:hidden;max-width:155px">
                                                @Html.DisplayFor(modelItem => item.Price)
                                            </td>

                                            <td scope="col" class="py-1 my-0 pr-0 mr-0" style="overflow:hidden;max-width:155px">
                                                @Html.DisplayFor(modelItem => item.PassengerPhone)
                                            </td>

                                            <td scope="col" class="py-1 my-0 pr-0 mr-0" style="overflow:hidden;max-width:155px">
                                                @Html.DisplayFor(modelItem => item.PassengerName)
                                            </td>
                                            <td scope="col" class="py-1 my-0 pr-0 mr-0" style="overflow:hidden;max-width:155px">
                                                @*@Html.ActionLink("Detail", "CabOfficeDetail", "CabOffice", new {  }, new { @class = "btn btn-outline-info btn-sm" })*@



                                                <a href="~/CabOfficeStatus/ActiveJobs/@item.id" class="btn btn-sm" id="cabid" style="background:#ff0000;color:#fff; text-decoration:none;"> Accept</a>

                                            </td>

                                        </tr>

                                    }
                                }

                            }

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>






    <!-- Footer -->
    @Html.Partial("~/Views/Shared/_CabAndAdminFooter.cshtml")
</div>



@section scripts{
    <script type="text/javascript">


    </script>
}