@model IEnumerable<thechauffeurteam.Models.job>
@{
    ViewBag.Title = "Cab Office DashBord";
    Layout = "~/Views/Shared/_CabOfficeLayout.cshtml";
}

<style>
    #dataTable td {
        border-bottom: 1px solid #1853a1;
    }
</style>
<!-- Header -->
<div class="header  pb-8 pt-4 pt-md-6" style="background:#1853a1;">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-3 col-lg-6">
                    <a href="~/admin/index">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">upcoming</h5>
                                        <span class="h2 font-weight-bold mb-0">@ViewBag.NewJobSum</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                                            <i class="fas fa-percent"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    @*<span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>*@
                                    <span class="text-nowrap text-info">See more detail</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-xl-3 col-lg-6">
                    <a href="~/admin/ActiveJobs">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Active</h5>
                                        <span class="h2 font-weight-bold mb-0">@ViewBag.ActiveJobSum</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                            <i class="fas fa-chart-pie"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    @*<span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>*@
                                    <span class="text-nowrap">See more detail</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <a href="~/admin/completedJobs">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Completed</h5>
                                        <span class="h2 font-weight-bold mb-0">@ViewBag.FinishJobSum</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                                            <i class="fas fa-users"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    @*<span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>*@
                                    <span class="text-nowrap">See more detail</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <a href="~/admin/CanceledJobs">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Cancelled</h5>
                                        <span class="h2 font-weight-bold mb-0">@ViewBag.CancelJobSum</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                            <i class="fas fa-chart-bar"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    @*<span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>*@
                                    <span class="text-nowrap">See more detail</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid mt--7">

    <!-- Table -->
    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Jobs</h3>
                </div>
                <div class="col-12 table-responsive" style="max-height:500px; overflow:scroll;">
                    <table class="disabled" id="dataTable" >
                        <thead class="text-white   text-capitalize " style="background:#1853a1; font-size:14px !important;font-weight:normal;">
                            <tr class="text-left">
                                @*<th scope="col" class="text-light px-1 ml-0 px-0 text-center">Status</th>*@
                                <th scope="col" class="text-light px-0 mx-0 text-center">Time</th>
                                <th scope="col" class="text-light px-0 text-center">Pick Up</th>
                                <th scope="col" class="text-light px-0 text-center">Drop Off</th>
                                <th scope="col" class="text-light px-0 text-center">Miles</th>
                                <th scope="col" class="text-light px-0 text-center">Price</th>
                                <th scope="col" class="text-light px-0 text-center">Phone#</th>
                                <th scope="col" class="text-light px-0 text-center">Name</th>
                                <th scope="col" class="text-light px-0 text-center">Status</th>

                                <th class=" px-0"></th>
                            </tr>

                        </thead>

                        <tbody class="bg-white" style="font-size:14px;">
                         @foreach (var matchjobs in ViewBag.matchedjob)
                         {
                             string matchjb = (string)matchjobs;
                            @*<tr>
                                <td>@matchjobs</td>
                                
                            </tr>*@



                             foreach (var item in Model)
                             {
                                 if (matchjb == item.postcode) {
                                       <tr scope="row">

                                            <td>
                                                @Html.DisplayFor(modelItem => item.dateAndTime)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.pickUp)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DropUP)
                                            </td>
                                            <td>

                                                @Html.DisplayFor(modelItem => item.Mile)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Price)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.PassengerPhone)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.PassengerName)
                                            </td>
                                            <td>
                                                @*@Html.ActionLink("Detail", "CabOfficeDetail", "CabOffice", new {  }, new { @class = "btn btn-outline-info btn-sm" })*@

                                                <button class="btn btn-sm " style="background:#ff0000; color:#fff;"> Accept</button>

                                            </td>

                                        </tr>

                                 }
                             }

                         }

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>



  


    <!-- Footer -->
    <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-12">
                <div class="copyright text-center text-xl-left text-muted">
                    &copy; 2018 itLogi Solutions
                </div>
            </div>

        </div>
    </footer>
</div>



@section scripts{
<script type="text/javascript">

      
</script>
}